[2012-05-25 23:36] damnhandy opened #1 "Create URI Template and Expression Builder"
It would be useful to have a class that would assist in generating URI Templates. This would be especially useful for users of [JAX-RS](http://jax-rs-spec.java.net/) implementations who may want to return a URI template as opposed to a URI.

What I'm considering is something similar to the JAX-RS [UriBuilder](http://jsr311.java.net/nonav/javadoc/javax/ws/rs/core/UriBuilder.html) class. This would

[2012-06-29 09:23] aslakhellesoy opened #2 "Reverse variable matching"
I couldn't find any information about this in the docs or by skimming the source code. For example - given a template `/foo/{name}/bar/{id}` and a URI `/foo/hello/bar/world` - be able to extract the `name` and `id` variables with values `hello` and `world` respectively.

Would this be within the scope of this library? The [wo-furi](http://code.google.com/p/wo-furi/) library supports this, but sinc

[2012-11-05 18:18] tekener opened #8 "More Encoding problems with UriUtil"
Hi Ryan,

we found some more "bugs" in the UriUtil class :(

The problem is, that the util class uses a blacklist to identify the chars to encode. The corresponding JDK class URLEncoder is using a whitelist. I think the whitelist is the better approach for this problem.

So, what do you think how should i fix it ;-)
a) introduce a white list to the UriUtil
b) replace the UriUtil with the URLEncode

[2012-12-01 16:50] dometec opened #10 "Problem on first example in README.md"
The variable's name is wrong, I thing this is the correct one:
UriTemplate.fromTemplate("/{foo:1}{/foo,thing*}{?query,other}")

[2012-12-23 05:08] ghost opened #11 "add support for hyphens in variable names"
While RFC6570 doesn't explicitly support hyphens in variable names, the practice is common-place, and permitting hyphens would reduce special-casing code.

can you permit hyphen in RFC6570UriTemplate.VARNAME_REGEX?

[2012-12-23 05:20] ghost opened #12 "RFC6570UriTemplate.expand shouldn't fail when no variables are present"
Currently RFC6570UriTemplate.expand fails if no variables are present.  This requires an if statement to guard, which offers little value to the user.  Can you just return the original string when no variables are set?

[2012-12-23 16:36] #11 closed, assigned to nobody

[2012-12-24 00:48] #10 closed, assigned to nobody

[2013-04-29 21:57] mattbishop opened #13 "Add OSGi manifest headers"
One cannot use handy-uri-templates in an OSGi environment like Eclipse, Felix, Sling, etc. because the jar file is missing the requisite OSGi headers. These are usually generated at build time by the maven-bundle-plugin found here:

http://felix.apache.org/site/apache-felix-maven-bundle-plugin-bnd.html

[2013-07-11 12:11] #8 closed, assigned to nobody

[2013-07-16 11:05] #13 closed, assigned to nobody

[2013-07-26 14:09] thomasritter opened #14 "Expression with "-" result in exception"
Hi,

the following template results in an exception:

{?var-name}

However, the spec says that "-" is an unreserved character:

unreserved     =  ALPHA / DIGIT / "-" / "." / "_" / "~"
(http://tools.ietf.org/html/rfc6570#section-1.5)

I also checked whether the python implementation by Joe Gregorio complains about "-" and it does not.

So my question would be, is this a bug or is there any special

[2013-07-26 21:47] #14 closed, assigned to nobody

[2013-07-26 21:47] #12 closed, assigned to damnhandy

[2013-07-26 21:48] #1 closed, assigned to damnhandy

[2013-07-27 17:29] damnhandy opened #15 "Add support for Jackson serializer/deserializers"
Adding support for Jackson by adding JsonSerializer and JsonDeerializers for URI Templates.

[2013-07-27 20:21] #15 closed, assigned to nobody

[2013-07-27 20:22] damnhandy opened #16 "Update documentaion"
Documentation is still shoddy in some areas. Need to clean that up ;)

[2013-09-13 14:06] cskinfill opened #17 "Return java.net.URI in the UriTemplate.expand method?"
should the expand method(s) return a URI instance rather then a String?

[2013-09-20 14:04] sigurdknippenberg opened #18 "Add support for Java 6"
Currently only Java 7 and higher is supported because the main pom.xml file has the following:

[code]

Is it possible to support Java 6 as well? I am evaluating this library for my application and can't use it right now because my app is running in Java 6.

Is it possible to change that to:

[code]

That would allow Java 6 to be supported as well.

[2013-09-23 14:52] #16 closed, assigned to nobody

[2013-09-24 10:26] #18 closed, assigned to nobody

[2013-09-24 10:43] #17 closed, assigned to damnhandy

[2014-04-14 17:59] faisalferoz opened #19 "No artifact with 2.1.0-SNAPSHOT version in snapshot repository as mentioned on README"

[2014-07-15 11:00] #19 closed, assigned to nobody

[2014-09-03 09:08] yanns opened #21 "encoding of ':' in path segment"
In a path segment, the character `:` is encoded as in a query parameter.

But the [character `:` is allowed unescaped anywhere within a path segment](http://blog.lunatech.com/2009/02/03/what-every-web-developer-must-know-about-url-encoding#Thereservedcharactersarenotwhatyouthinktheyare).

[code]

delivers `http://host/user/1%3A2` instead of `http://host/user/1:2`

[code]

delivers `http://host/use

[2014-09-04 18:46] #21 closed, assigned to nobody

[2014-11-30 16:26] faisalferoz opened #22 "encoding of '`' and '"' in query parameters"
as per the [unreserved](http://tools.ietf.org/html/rfc3986#section-2.3) characters, back-tick `` ` `` and inverted quote `"` both don't fall into the unreserved set but these are not encoded when using UriTemplate.

[2015-02-12 23:15] martinicr opened #24 "Can "Handy-URI-Templates" expand URIs partially?"
Hi guys, first of all, I love "Handy-URI-Templates" library, works awesome. Now this not exactly an issue, is more a question about a feature.

I have this URI template:
http://localhost/my-app/employees{/employeeId}/reviews{?page,size}

I would like to provide the "employeeId" variable to the template BUT keep the {?page,size} section. Something like:
http://localhost/my-app/employees/999/reviews

[2015-02-28 15:25] damnhandy commented on #24
It took me a while to grok what you're saying, but what you are looking for is that rather than the expansion return an expanded URI, you want it to return a new template with the partial values filled in?

[2015-03-01 16:04] damnhandy commented on #24
It would be possible to add an expandPartial() method that would return another URITemplate instance. If that's what you're after, let me know. It'd be trivial to add.

[2015-03-01 16:45] martinicr commented on #24
Hi thank your for taking for time on this (and sorry for the late response). I think you got the idea behind this kind of new "feature".

My idea behind the expandPartial() method could be something like:
Scenario #1
Given I have a URI template with format:
http://api.company.com/resources{/resourceId}{?page,size}
When I ask for a partial expansion with resourceId = 999
Then I should have a String

[2015-04-24 02:47] drdamour opened #26 "Some issues with custom VarExpander"
Using this library on android, which doesn't have java.beans.Introspector so the default var expander doesn't work.

I have a pretty simple use case of a template like /path{?multivar*} for which i want to set("multivar", new String[]{"one", "two"}) thus expanding to /path?multivar=one&multivar=two

It throws becuase the DefaultVarExpander can't get Introspector.  It seems like a re-org of some of

[2015-04-24 02:47] drdamour commented on #24
+1

[2015-04-24 12:31] damnhandy commented on #26
Thanks for these @drdamour ! The docs on the VarExploder is definitely unfinished business. I had an idea of being able to load custom implementations via classes marked with an annotation, but the code was never implemented. As for `java.bean.Introspector`, I have to think about this more. Right now, it saves a lot of code. I never considered Android use cases until now and totally wasn't aware t

[2015-04-27 23:08] drdamour commented on #26
i was suggesting dumping Introspector, but for my use case (array of values) change the code path so it's not needed, it seemed like the order of operations uses Introspector too soon.

separate module is ok...but i'm building a cross platform lib that depends on damnhand uri, so I'd have to mark that as provided and deal with all the questions, unless i make use of some maven thing that deals wit

[2015-04-28 00:19] dantheperson commented on #22
Any plans to release this fix?  I presume it would also work in path variables.  I would expect in this example that the backtick is %60 encoded and thus parse as a URI, just as the greaterThan example is.

    @Test
    public void testBacktick() throws URISyntaxException {
        String url = UriTemplate.fromTemplate("http://example.com/{var}").set("var", "`").expand();
        URI uri = new UR

[2015-04-28 03:13] dantheperson commented on #22
I have tested with 2.0.3-SNAPSHOT and it still issue is still there.

[2015-05-22 21:22] Vulcannis commented on #24
+1

[2015-06-04 00:31] mmadson opened #27 "Nested data structures"
I realize nested data structures are not currently supported, are there any plans?

[code]

Expected:

[code]

OR

[code]

Selecting one form or the other could perhaps be an annotation on the composite, for example:

[code]

might yield:

[code]

[2015-06-13 14:20] #22 closed

[2015-06-13 14:33] damnhandy commented on #27
Sorry, but no, I was not planning on adding this to the core. This is mainly due to the fact that the spec doesn't cover this and it presents challenges with interoperability.

[2015-06-13 14:38] damnhandy commented on #26
You're right, I think dumping Introspector for something custom probably makes the most sense. I think a light-weight, home grown, reflection-based approach would be ideal. I'd like to keep additional dependencies out of the project if possible. I'll try and give that a shot over the week, but the day job has me pretty tied up at the moment. Contributions are welcome though :)

[2015-06-14 02:02] mmadson commented on #27
Forgive my presumptuousness, but please allow me to elaborate my interpretation of Section 2.4.2](https://tools.ietf.org/html/rfc6570#section-2.4.2) of the spec:

   treated as a composite value consisting of either a list of values or
   an associative array of (name, value) pairs.  Hence, the expansion
   process is applied to each member of the composite as if it were
   listed as a separate va

[2015-09-04 11:02] damnhandy commented on #24
Thanks to Pull request #28 , we now have this feature. I have published a snapshot of 2.0.3 which contains this PR. If folks could test that and verify it's working as you've anticipated, I'll cut a release. At the moment, I'm planning in doing that tonight anyway.

[2015-09-05 20:16] #24 closed

[2015-09-08 10:57] stefanseifert commented on #24
i'm a colleague of cnagel (#28) - he is out of office this week.
we tested the latest 2.0.3-SNAPSHOT and it looks fine - thanks for the quick merge!

[2015-09-08 13:39] damnhandy commented on #24
Thanks! I'm trying to push out the release, but it seems the github pages maven plugin I'm using is having some issues. Once I get that sorted out, I'll release 2.0.3.

[2015-09-20 14:55] damnhandy opened #31 "Replace SimpleDateFormat with Joda Time to Improve Performance"
@asaph recently added PR #30, which replaces SimpleDateFormat with JodaTime. I've been reluctant on adding new dependencies as this library is used in many different Java environments such as Android. I'm not sure how Android plays with JodaTime or how folks in the Android space feel about an additional dependency? Curious to hear from @drdamour and others working on Android and other non-Oracle J

[2015-09-20 14:58] damnhandy commented on #27
I'd consider this, but I'd suggest issue a PR to the [uritemplate-test project](https://github.com/uri-templates/uritemplate-test) which maintains the standard set of test cases for RFC6570. If this is  a use case that can be supported by multiple uritemplate processors, I'd definitely add it. But I'd like to avoid adding a custom addition to the spec that only works with this library.

[2015-09-21 18:16] asaph commented on #31
@damnhandy Thanks for your consideration. Although most enterprise users will barely notice the addition of [Joda Time](http://www.joda.org/joda-time/) (if they don't already have it in their project), you make a very good point about Android clients. I could submit another pull request that mitigates the SimpleDateFormat performance issue by using [`ThreadLocal`](http://docs.oracle.com/javase/8/d

[2015-09-21 18:21] drdamour commented on #31
talked to some droid devs on our teams, they are already on Joda time.  If you ever dropped java 6 or 7 support (8 forward) you'd want to revisit and remove Joda i think.

[2015-09-21 18:30] asaph commented on #31
@drdamour Agreed. Specifically, Java 8 introduces [`java.time.format.DateTimeFormatter`](https://docs.oracle.com/javase/8/docs/api/java/time/format/DateTimeFormatter.html) which mitigates the issues associated with SimpleDateFormat. But using it would require bumping `source=1.6` and `target=1.6` to `source=1.8` and `target=1.8`, respectively.

[2015-09-22 00:47] damnhandy commented on #31
Bumping the source isn't really an option either as that will definitely cause troubles for Android developers. Since it appears that Joda is not contentious, I'm going to accept the PR and close this issue.

[2015-09-22 00:47] #31 closed

[2015-09-22 17:19] asaph commented on #31
@damnhandy Thank you for merging PR #30. I see that you added this enhancement to the [2.1 milestone](/damnhandy/Handy-URI-Templates/milestones/2.1). Do you have an estimated release date in mind for v2.1?

[2015-09-24 10:53] damnhandy commented on #31
I'm going to see what I can do about issue #26 first. I have to jog my memory about what the hell I was thinking the VarExpanders. Realistically, we're looking at mid-October.

[2015-09-29 15:37] janbols opened #33 "Cannot expand an exploded template variable"
Using 2.0.4

When creating an exploded VarSpec name _"experiment"_, the object is initialized with a variableName = _"experimen"_ because the last character is substringed away on line 157.

As a result that variable is not expanded in UriTemplate#expandVariables line 592.

As a temporary workaround I can initialize the exploded VarSpec by adding the * to its value like here:
[code]

[2015-10-26 04:47] kasun04 commented on #2
I think this is a very useful feature. Is this feature available in the current 2.0.4 release? If not when will be added to a GA release?

Thanks,
Kasun.

[2015-11-04 20:50] drdamour commented on #26
ran across this again, this time i was trying to pass in a Map.  I had time so i started a fork, but then i got really confused with what you're trying to do in there with the factory.

A lot of this could be simply allieviated by moving the call to the VarExploderFactory to AFTER the default cases are handled.

Right now the code is doing this block https://github.com/damnhandy/Handy-URI-Template

[2015-11-04 21:01] drdamour commented on #26
also looks ike jackson ran into the same thing https://github.com/FasterXML/jackson-jr/issues/11

[2015-11-05 00:10] damnhandy commented on #26
Interesting find! Since this library has a dependency on Jackson already, it should be possible to piggy back on Jackson.

[2015-11-06 12:06] vicmosin opened #34 "Seems to be an issue with expanding UUID value"
I am facing the following issue: once I pass an UUID value into parameters map and expands the template, the final result contains the UUID's internal properties such as `mostSigBits` and `leastSigBits` instead of simple string representation. Converting the UUID to string before passing to `expand` method solves the problem

[2015-11-06 12:42] damnhandy commented on #34
Can you post the output you're seeing? I think I know what might be going on. This would likely address issues like #26 and others.

[2015-11-06 12:44] vicmosin commented on #34
[code]

original uri: `http://localhost:7070/chats{?page,size,sort,filter,id}`

[2015-11-06 12:48] vicmosin opened #35 "Expanding enums"
Why forbid to pass enums??

https://github.com/damnhandy/Handy-URI-Templates/blob/master/src/main/java/com/damnhandy/uri/template/DefaultVarExploder.java#L120

[2015-11-06 14:30] damnhandy commented on #35
Enums wouldn't be captured there, but here:

https://github.com/damnhandy/Handy-URI-Templates/blob/master/src/main/java/com/damnhandy/uri/template/UriTemplate.java#L609

The `DefaultVarExploder` should only be called when the type is not a primitive, CharSequence, Number, or Date type. I haven't tested enums, but there probably needs to be some thought into how they are handled.

[2015-11-06 14:32] vicmosin commented on #35
So they are not)) it fails with `The value must an object` exception

[2015-11-07 00:46] damnhandy commented on #35
Clearly not tested :) I'll have a gander at this over the weekend.

[2015-11-07 14:09] damnhandy commented on #35
@vicmosin I'm really surprised that such an obvious bug took 4 years for someone to find it. Thanks for the report. A few minor tweaks and it's functional now. I've pushed a snapshot to Maven Central under version `2.1.0-SNAPSHOT` Should have a release out by the end of the weekend.

[2015-11-07 14:11] damnhandy commented on #34
Fixed in the `2.1.0-SNAPSHOT` if you could give it a whirl and see if verify if the behavior is what you're expecting, i'll close this issue.

[2015-11-08 04:16] testn opened #36 "Expose regex pattern"
It would be nice to expose the pattern that URI template used internally so that developers can use it to perform the URI matching as well as extracting parameter from the template without relying on URI template afterwards.

[2015-11-08 05:01] testn opened #37 "UriTemplate(LinkedList<UriTemplateComponent> components) should be public"
so that UriTemplate can be constructed from UriTemplateParser manually.

[2015-11-08 08:22] vicmosin commented on #34
Confirmed, `2.1.0-SNAPSHOT` fixes the issue

[2015-11-08 08:27] vicmosin commented on #35
Confirmed, `2.1.0-SNAPSHOT` fixes the issue.
What about 2.0.5-SNAPSHOT described in docs? When release version is expected to be?

[2015-11-08 16:12] damnhandy commented on #36
Can't do that, mainly because this library doesn't use RegEx to parse the URI template string, so there is nothing to expose. However, this feature is being worked on as part issue #2

[2015-11-08 16:12] #36 closed

[2015-11-08 16:13] damnhandy commented on #37
Can't you elaborate on the use case that would require that?

[2015-11-08 16:23] #34 closed

[2015-11-08 16:23] damnhandy commented on #35
I'm going straight to 2.1. Should be posting that later today.

[2015-11-08 16:23] #35 closed

[2015-11-08 17:15] damnhandy commented on #26
I ended up rolling my own, all tests are passing and I've added this to the `2.1.0-SNAPSHOT` in Maven Central

[2015-11-08 17:15] #26 closed

[2015-11-08 17:50] drdamour commented on #26
great.  is 2.1 ready for a release?

[2015-11-08 19:53] damnhandy commented on #33
Sorry, slightly confused. Does this issue occur when expanding a template or when you're calling `VarSpec` directly? If it is a template issue, do can you provide the template expression you are using and the values you're passing to it?

[2015-11-08 20:21] damnhandy commented on #33
I have added a test case to help isolate the issue here:

https://github.com/damnhandy/Handy-URI-Templates/blob/master/src/test/java/com/damnhandy/uri/template/impl/TestVarSpec.java

So far, I am not able to get the the behavior you are seeing. If you provide a test case that demonstrates the problem, I'll fix it. I'll leave this open for now but will address it in a future release, after `2.1.0`.

[2015-11-08 20:32] damnhandy commented on #26
Just released it. Just waiting for Sonatype to do it's thing so that it gets into Maven Central.

[2015-11-09 03:57] drdamour commented on #26
very nice! thanks for putting some effort behind this.  I'll verify it works monday.

[2015-11-13 15:02] janbols commented on #33
Hi, I added 3 tests (2 failing, 1 succeeding) that show the bug and created a pull request for it.

Best regards
Jan

[2015-11-13 19:22] osvaldopina opened #40 "Problems with partial expansion"
I think that partial expansion for form-style query parameter generates a wrong template if you does not provide the first variable. For example the following expansion:

[code]
generates the following template:

`{?param1}&param2=value`

And I thing it should be:

`?param2=value{&param1}`

[2015-11-14 14:22] damnhandy commented on #40
I've gone back and fourth on this one, and I'm settling on the side of stating that this is correct behavior. The reason being that is that the original template explicitly stated that that variable group is part of a query string group. So it appears natural to start with

   http://example.com/thing {?param1,param2}

and have it partially expand to:

    http://example.com/thing{?param1}&param2=

[2015-11-14 14:23] damnhandy commented on #33
This is now in the 2.1.2 snapshot

[2015-11-14 14:23] #33 closed

[2015-11-14 18:36] janbols commented on #33
Thank you for the work and for a nice useful library ;-)

[2015-11-15 00:54] osvaldopina commented on #40
I think you did a great job by changing from query to continuation on partially expansion. The partially expanded template maintains its ability to be further expanded. The problem arises because query parameters normally are not mandatory.
Consider the following template:
`
http://example.com{?param1,param2}
`
if you provide a value for `param2` and it would expanded to:
`
http://example.com{?par

[2015-11-15 02:20] #37 closed

[2015-11-15 02:24] damnhandy commented on #40
Ah ha! Great point @osvaldopina, this is indeed a problem. Now I'm sold and I'll accept the pr.

[2015-11-15 02:28] damnhandy opened #42 "Add additional cases to test the UriTemplateBuilder"
After a few issues with the `UriTemplateBuilder` have cropped up, its clear that the testing here needs to be improved. Add additional test cases to ensure that the class will work with the tests from the uritemplate-test suite of tests.

[2015-11-15 02:53] damnhandy commented on #40
This is now in the `2.1.2-SNAPSHOT`

[2015-11-15 02:53] #40 closed

[2015-11-15 03:28] #42 closed

[2015-12-02 18:41] osvaldopina opened #44 "Relaxing variable name valid characters"
Hi,

I was looking at template uri spec (rfc 6570) and I saw that the specification for variable name is:

[code]

but the spec for uri (rfc 3986) states that the valid queries are formed by:

[code]

So, the folloing template `{?var-name}` is invalid but the expanded query `?var-name=var-value` is valid.

What do you think about creating an option for relaxing template variable names to allow all

[2015-12-02 23:41] damnhandy commented on #44
I'd rather not do this as it would break compatibility with other URI template processors. Keep in mind that a URI template is not a valid URI. It's a template. The `-` is a reserved character and could be used in a future version of the spec, so it's not unreasonable that it could be used again. In which case, relaxing it would break compatibility. It had been used in earlier versions of the spec

[2015-12-28 16:36] damnhandy commented on #27
So looking at this more, this isn't going to work with the spec itself. The scenario you've posted wouldn't render the URI you desire. Given:

    [("myfield",["a","b","c"]),("myperson",[1,2,3])]

And a template of:

    {?field*}{&user*}

You would get something like this:

    /?field=myfield&field=field%3Da%26field%3Db%26field%3Dc&user=myperson&user=user%3D1%26user%3D2%26user%3D3

There's a few

[2015-12-28 16:43] damnhandy commented on #27
For an example of a custom VarExploder, check out this test case:

https://github.com/damnhandy/Handy-URI-Templates/blob/master/src/test/java/com/damnhandy/uri/template/TestCustomVarExploder.java

and the example implementation:

https://github.com/damnhandy/Handy-URI-Templates/blob/master/src/test/java/com/damnhandy/uri/template/JsonVarExploder.java

The [JsonVarExploder](https://github.com/damnh

[2015-12-28 16:46] damnhandy commented on #27
BTW, I seem to have missed your annotation idea when I first read this. That is something worth looking into. Stay tuned...

[2016-01-04 15:59] osvaldopina opened #46 "Remove final modifier from UriTemplateBuilder"
Remove final method modifier from UriTemplateBuilder to allow it to be used in EasyMock like frameworks.

[2016-01-04 23:12] damnhandy commented on #46
I'm not sure I see the use case for using this library with a framework like EasyMock as opposed to using the API directly. It's light weight and there's no dependencies that you need to mock since you have everything you need. You do have another use case in mind? Otherwise, I'm going to close this issue and reject PR #47

[2016-01-06 13:39] sebastianmacarescu opened #48 "Not working on android, java 1.8 sdk"
Running the provided example:
UriTemplate template =
                UriTemplate.buildFromTemplate("http://example.com")
                        .literal("/foo")
                        .path(var("thing1"),var("explodedThing", true))
                        .fragment(var("prefix", 2))
                        .build();

Give FATAL EXCEPTION:

Caused by: java.util.regex.PatternSyntaxException: Synta

[2016-01-10 17:48] damnhandy commented on #48
What version of the Android SDK are you using? Also, how are you using JDK 8 with Android? The current release only supports Java 7 features. Are you referring to running Android Studio under Java 8?

[2016-01-12 10:04] sebastianmacarescu commented on #48
You can use jdk8 with retro-lambda in Android Studio. I have upgraded to the last version of damnhandy library and now it works.

I was using 2.1.0

[2016-01-13 20:42] damnhandy commented on #48
Okay. This sounded like it was an issue that was fixed in 2.1.1 as a result of PR #38 since this was happening in `Expression.buildMatchingPattern()`, which now no longer pre-calculates the regex.

[2016-01-13 20:42] #48 closed

[2016-02-04 04:42] drdamour opened #49 "Throws error on empty map"
template of something like
[code]

throws

[code]

this worked in 2.0.2

[2016-02-04 13:24] damnhandy commented on #49
I just pushed a fix for this in 2.1.4-SNAPSHOT. If a moment, please test it out to verify and I'll cut the release tonight.

[2016-02-05 00:07] drdamour commented on #49
looks good

[2016-02-05 12:38] damnhandy commented on #49
Done. 2.1.4 is now released.

[2016-02-05 12:38] #49 closed

[2016-02-05 12:39] damnhandy commented on #46
Since I haven't head back, I'm closing this issue.

[2016-02-05 12:39] #46 closed

[2016-02-23 04:32] drdamour commented on #2
came looking for this functionality...how close is it?  is there any stepping stones?  what is this regex pattern stuff?

[2016-04-18 16:03] damnhandy commented on #27
I've actually implemented this. You can find the test case here:

https://github.com/damnhandy/Handy-URI-Templates/blob/master/src/test/java/com/damnhandy/uri/template/TestNestedDataStructures.java

The output you can expect for your initial test case would be:

    /test?field=a,b,c&user=1,2,3

but *not* this format:

    /test?field=a&field=b&field=c&user=1&user=2&user=3

This is now available i

[2016-04-19 01:35] damnhandy opened #50 "Clean up rendering of nested arrays"
Tests such as this one here:

https://github.com/damnhandy/Handy-URI-Templates/blob/master/src/test/java/com/damnhandy/uri/template/TestDifferentDataTypes.java#L137

Will rely on the format of the `toString()` that is applied to either a `List` or Java array, which will result in the following output:

    [One, Two],[Three, Four]

It would be better to not include the brackets as the output shoul

[2016-04-19 01:40] #50 closed

[2016-04-19 01:40] #27 closed

[2016-05-18 15:57] kag0 commented on #2
Although an old issue, I think this is still a very useful and desirable feature. I'd be willing to put some time in to development if @damnhandy can point me in the right direction.

[2016-06-10 14:49] kmashint opened #51 "Existing pct-encoding in values given to {+} or {#} templates should NOT be re-encoded"
First, thank you for the URI Template library for Java!

In using it at Adobe (my other email is kmashint@adobe.com) we found an issue with URI {+} templates and values that already had pct-encoded values (e.g. %20 in the query string) where according to RFC-6570 (we asked Roy Fielding who works at Adobe) the values with pct-encoded triplets given to {+} or {#} templates should NOT be re-encoded.

[2016-06-10 21:38] damnhandy commented on #51
Thanks @kmashint ! I'll have a look at this over the weekend. I think this also fell through the cracks with the uritemplate-test suite as well. That should have catch issues like this.

[2016-06-11 12:35] damnhandy commented on #51
@kmashint do you a more specific set of test cases for this issue? What I'm looking for is specific templates and variables beyond just something like `{+uri}`. I've been mulling over the [uritemplate-test](https://github.com/uri-templates/uritemplate-test) and nothing seems to cover this particular issue. I do not see anything in there that would cover this issue, but I think this something that

[2016-06-11 13:03] damnhandy commented on #51
The problem likely lies here in the p[`UriUtil` class](https://github.com/damnhandy/Handy-URI-Templates/blob/master/src/main/java/com/damnhandy/uri/template/UriUtil.java#L114). That is called from the [`expandStringValue`](https://github.com/damnhandy/Handy-URI-Templates/blob/master/src/main/java/com/damnhandy/uri/template/UriTemplate.java#L956) method in the UriTemplate class. What's supposed to

[2016-06-11 13:25] kmashint commented on #51
The standard gives the example:
    if half="50%", then "{+half}" => "50%25" since it's not already encoded

A counter example would be:
    if halfEnc="50%25", then "{+halfEnc}" => "50%25", no change since it's already encoded

Another unchanging example since it's already encoded:
    if helloEnc="http://localhost/hello%20world", then "{+hellEnc}/goodbye" => "http://localhost/hello%20world/goodb

[2016-06-29 12:54] hottrout opened #52 "UriTemplateBuilder does not reject variables with invalid characters"
[code]

Returns a usable `UriTemplate` that will `expand` and `expandPartial` using this variable name as normal

However

`UriTemplate.fromTemplate("location{?invalid-variable}");`

Throws an exception as the variable name does not match https://tools.ietf.org/html/rfc6570#section-2.3

I think here that `query` should probably be throwing a similar exception.

[2016-06-29 16:46] damnhandy commented on #52
Nice catch. That is definitely incorrect.

[2016-07-02 22:21] damnhandy commented on #52
The fix is now in the `2.1.6-SNAPSHOT` build, which should be available in Maven Central. I plan on releasing `2.1.6` once I figure out a solution to #51

[2016-07-03 14:23] damnhandy commented on #51
This is fixed in `2.1.6`

[2016-07-03 14:23] #51 closed

[2016-07-03 14:23] damnhandy commented on #52
`2.1.6` has been released with this fix.

[2016-07-03 14:23] #52 closed

[2016-07-03 16:47] damnhandy commented on #2
@kag0 I could definitely use a hand on defining the API for this feature and some test cases.

When I started the 2.x release, I refactored everything so that there is a structured model that represents the URI Template. A URI template consists of a collection of [`URITemplateComponent`](https://github.com/damnhandy/Handy-URI-Templates/blob/master/src/main/java/com/damnhandy/uri/template/UriTempla

[2016-07-03 18:27] kmashint commented on #51
Confirmed with a {+} template in our testing, thank you!

[2016-07-03 21:37] kag0 commented on #2
@damnhandy that seems like a reasonable way to go about it. I'll start playing around with it. Is master the best branch to look at as far as reverse matching changes?

[2016-07-03 22:15] damnhandy commented on #2
Use the `2.2-reverse-matching` branch. Let's keep it out of master for now. The work I had done to date on this feature had led to other bugs, so I'd rather keep this in a separate branch for the time being.

[2016-07-04 05:17] kag0 commented on #2
@damnhandy I've taken a quick 'n dirty stab at it [here](https://github.com/kag0/Handy-URI-Templates/commit/c479eb64394d3f5b420aff9dc56f9c460b779bc7) and jotted some notes. Check it out if you think you might have some comment, otherwise I'll keep working at it.

[2016-08-03 11:01] damnhandy commented on #2
This looks good. Can you issue a PR to the `2.2-reverse-matching` branch? Next step is to figure out how to integrate this into the project. The furi project that @aslakhellesoy mentioned has a dedicated [URIResolver class](https://github.com/pageseeder/furi/blob/master/src/main/java/org/pageseeder/furi/URIResolver.java) to perform the reverse lookup. We could do something similar, but I'm not sur

[2016-08-15 02:20] kag0 commented on #2
@damnhandy checked out furi. Could be something there, but might be tricky given how the structures of the two libraries are different. In the meantime I went ahead and finished the feature more or less.

[2016-09-01 16:52] brianm commented on #2
Awesome! /me is eagerly anticipating 2.2 now :-)

[2016-12-17 20:26] kag0 commented on #2
Hey @damnhandy, just checkin in. Is there anything that could be done to help speed up a 2.2 release?

[2016-12-22 15:10] four01 opened #55 "Add option to replace Joda-time with a different lib"
Joda-time is being used in a few places to format date variables, but in our project we use threetenbp (https://github.com/ThreeTen/threetenbp) instead. It seems silly to pull in the Joda dependency just for that small use case. We would like some way of replacing Joda with threetenbp either via a plugin or interface we can implement.

Thanks!

[2016-12-22 17:02] four01 commented on #31
This has actually caused issues for us. We didn't upgrade to the this version because it introduced joda, but are forced to recently due to a recent bug fix.

We use threetenbp, so including joda as well isn't ideal. If this can be refactored to use a plugin system which can be registered at runtime, that would be ideal. For now we have been forced to fork your project to remove joda.

Thanks for

[2016-12-22 19:29] drdamour commented on #31
when you say isn't ideal...do you just mean because you don't want another lib?

[2016-12-22 19:34] four01 commented on #31
Sorry for being unclear.

We're using this library in our Android project where method counts matter. We're already using the excellent threetenbp library to handle dates. If we had the option we'd make URI Templates use threeten already because that's what we already have included. Including Joda instead adds too many extra methods.

Thanks.

[2016-12-22 19:37] drdamour commented on #31
damn dalvik!

[2016-12-22 19:40] four01 commented on #31
A simple plugin architecture could resolve this. Or an interface where we can implement our own approach.

In our app, we don't actually use dates as parameters at all It seems like although converting dates to strings is a nice bonus feature it doesn't seem like it's a core feature of RFC 6570. Maybe this is something that needs to be exposed as user plugins and let the core library handle the ba

[2016-12-26 15:20] damnhandy commented on #2
What's needed now is an API definition in order to use this feature. My day job has been keeping me busy and I haven't had the time to sit down and give it some thought. I should be freeing up mid-Jan, but right now time is pretty tight. Idea submissions are welcome!

[2016-12-26 15:25] damnhandy commented on #31
Let's continue this discussion in issue #55 since this issue is closed.

[2016-12-26 15:33] damnhandy commented on #55
I think this something that could be targeted at a future release as it would likely bring along some breaking changes. I developed this library with Java SE/EE in mind and not Android, so some of this was unexpected 😄 But since we're on the topic of method count, I'm going to that the [Jackson support](https://github.com/damnhandy/Handy-URI-Templates/tree/master/src/main/java/com/damnhandy/uri/te

[2016-12-26 15:34] damnhandy commented on #55
On a related note, I have been considering making a future version of this library Java 8 only given that Java 7 is no longer supported. I'm curious to know how this would affect Android devs?

[2016-12-26 15:39] four01 commented on #55
When we removed Joda we also ended up removing Jackson, only because we were already at it and removing Jackson was straightforward. (One of our apps was already using Jackson so it wasn't a big deal).

Android supports java 8 with jack compiler (tho it breaks other things like data binding). We use retrolambda for java 8 lambda support and going forward it looks like Android is moving to java 8,

[2016-12-26 17:03] drdamour commented on #55
AFAIK java 8 only works on nougat (7.0) + so in practice there's still a restriction on java 8...namely many people need to get new phones.  https://developer.android.com/about/dashboards/index.html says nougat is < .1%.
so going to 8 sounds great to me...but i'd keep open a way to hotfix/feautre add via PR the 7 branch too for a bit.

I might also suggest adoption a pattern similar to discussed a

[2016-12-26 19:37] four01 commented on #55
@drdamour https://developer.android.com/guide/platform/j8-jack.html

[2016-12-26 20:09] drdamour commented on #55
yup confirms what I said.  only .4% of devices can use java8

On Dec 26, 2016 12:37 PM, "four01" <notifications@github.com> wrote:

[2016-12-26 20:14] four01 commented on #55
We're using JDK 8 and compile for Java 7. Support for Java 7 can be dropped, but you would need to be careful as to which Java 8 features are being used. Lambdas are okay, but some other features are not.

[2016-12-26 22:30] drdamour commented on #55
not sure what you're saying there...i' focusing on this line:
"Android does not support all Java 8 language features. However, the following features are available when developing apps targeting Android 7.0 (API level 24):"

[2016-12-26 23:30] four01 commented on #55
I guess the issue is, if Java 7 support is dropped to require Java 8, will Java 8 specific features be used? If you just want to use lambdas then it's all good since Android supports that (via Jack), but if you want to use the new Java 8 JSR 310 date specs (for example) then you can't, because it won't support older versions of Android.

[2016-12-26 23:57] drdamour commented on #55
yes exactly...so that's why 7 i still what you need to target with any lib
used for droid for a while longer.  maybe if all those samsung notes blow
up...

On Mon, Dec 26, 2016 at 4:30 PM, four01 <notifications@github.com> wrote:

[2016-12-28 13:16] damnhandy commented on #55
I think going forward, we'll look at doing a module system similar to what Jackson does with it's modules. That way, uses can opt-in to what features they want. Additionally, [TravisCI is no offering Android support](https://docs.travis-ci.com/user/languages/android/) and we should consider setting up a configuration for different Android SDKs as well.

[2017-01-05 23:03] jroper commented on #2
Hi @damnhandy, I'm just doing some exploratory work at the moment for [Lagom Framework](http://www.lagomframework.com). Lagom provides a symmetric client/service interface, where a single interface is defined, and clients use it to speak to the server, and servers implement it to receive requests from the client. We have a single URI spec that both the server uses to extract parameters and the cli

[2017-01-06 23:02] kag0 commented on #2
@jroper I think it'd be great to have URI template adoption in Lagom, and input/contribution from lightbend to get this feature released would be awesome as well. For me I'd be down to write some more code if needed to get this complete.
I saw your comments on the PR, looks like good input.

[2017-03-08 21:54] chludwig-haufe opened #57 "Inconsistency Implementation vs. JavaDoc"
The static "constructor" `UriTemplate#fromTemplate(UriTemplate)` returns a `UriTemplateBuilder` object. However, its JavaDoc comment says (in version 2.1.6):
[code]

The doc does clearly not match the implementation. If I am not mistaken then the implementation of `UriTemplate#fromTemplate(UriTemplate)`has the same effect as  `UriTemplate#buildFromTemplate(UriTemplate)`. (Actually, there is a subt

[2017-03-26 13:48] yexela opened #58 "Can't use dash in query variable name."
[code]
causes  [MalformedUriTemplateException](https://github.com/damnhandy/Handy-URI-Templates/blob/master/src/main/java/com/damnhandy/uri/template/impl/VarSpec.java#L200)

[2017-03-26 20:38] damnhandy commented on #58
Unfortunately, the `-` character is reserved in RFC6570. Please see issue #44 for details on this. Marking as `Won't Fix`

[2017-03-26 20:38] #58 closed

[2017-03-26 20:40] damnhandy commented on #44
I've been re-thinking this as I've run into similar issues in my own work. It had me wondering about adding a non-strict mode, which could relax a few cases where the spec goes a bit too far.

[2017-11-08 12:34] deepakprabhakara opened #59 "What is the replacement for UriTemplateResolver?"
I am updating from v2.0.0 and UriTemplateResolver seems to have gone but can't see any docs related to it. What is the replacement?

Thanks.
Deepak.

[2017-11-08 16:18] damnhandy commented on #59
@deepakprabhakara are you sure that you're referring to a v2.0.0 build and not a development branch? Looking at the [v2.0.0](https://github.com/damnhandy/Handy-URI-Templates/tree/handy-uri-templates-2.0.0/), the class you are referring to is not in there. Could you be more specific?

[2017-11-08 18:15] deepakprabhakara commented on #59
Yes, it could be a development build. I unfortunately only have the jar file named v2.0.0 with no further info. But it contains the UriTemplateResolver class which could be used for reverse matching templates. There seems to have been a cleanup in the newer versions but I can't seem to find how to do the reverse matching in the new version.

[2017-11-08 18:18] deepakprabhakara commented on #59
And is used this way:-
[code]

[2017-11-08 19:25] damnhandy commented on #59
Could this have been a SNAPSHOT build or something someone else built internally? I'm fairly certain that I never released this class in any formal release. Furthermore, I likely didn't not work as I never completed the implementation. Thus, the reason why I pulled it out.

[2017-11-08 21:09] deepakprabhakara commented on #59
Quite likely it's not from any formal release. That is why I was trying to update it. Is the reverse matching still in progress? It doesn seem to work quite well though. 👍

[2017-12-21 19:03] Jitsusama opened #60 "Commas get HTTP escaped in expanded Request-URI query parameter values"
I'm running into an issue where when a URI template is expanded, in the circumstance that a query parameter is templated and set with a value containing commas (`,`), that the expanded `String` escapes the commas with `%2C`. This is not necessary as per this StackOverflow question response: https://stackoverflow.com/a/2375597/3827514.

Having the request URI escaped in such a manner is making it h

[2018-06-10 05:32] damnhandy commented on #55
Just follow up on this old open issue. Given that it's now 2 years later, is moving to Java 8 still a problem with Android devs?

[2018-06-10 05:58] damnhandy commented on #60
And upon re-reading [RFC6570 section 1.5 Notational Conventions](https://tools.ietf.org/html/rfc6570#section-1.5), the comma will always be escaped with `%2C`. You could get the results you were looking for by altering it so that your comma-delimited value is an array or `List` type. Something like this will works:

[code]

[2018-06-10 05:59] #60 closed

[2018-06-10 06:01] damnhandy commented on #57
Yeah, this was a little sloppy on may part, so thanks for pointing that out. I made some changes so that it's more concise. Going forward, `UriTemplate#buildFromTemplate(UriTemplate)` is the one to use and `UriTemplate#fromTemplate(UriTemplate)` will be deprecated as the do the same thing.

[2018-06-10 06:01] #57 closed

[2018-06-10 06:02] #44 closed

[2018-06-21 01:09] drdamour commented on #55
our android devs say yes, targeting java8 has become the norm.

[2018-08-06 21:00] damnhandy commented on #55
I might consider keeping the 2.1.x series on Java 6 and branch off a 2.2 series on Java 8.  This way,  bug fixes and tweaks could still be made to to 2.1.x as needed but all new work would continue on 2.2.x

[2018-08-20 07:08] aosorio1 commented on #2
I see this is still open, but I am not sure if it was implemented in PR53. What's the status?

[2018-09-10 13:44] osvaldopina commented on #44
@damnhandy, Would you still be willing to accept the creation of the non-strict mode?

[2019-01-31 19:42] taftster opened #61 "Thread Safety"
Can there be a statement made as to thread safety of this library? Specifically, I'm looking for a statement in the Javadoc of UriTemplate and the homepage of the github repository.

Thanks.

[2019-02-05 17:59] leonard84 commented on #61
Looking at the code of `UriTemplate` I would categorize it as non-threadsafe, since it is mutable without synchronization. Furthermore, an instance of `UriTemplate` doesn't seem to be intended for reuse.

[2019-02-05 18:13] leonard84 commented on #55
Given the year and EOL of Java versions, I think it would be ok to switch to Java 8 time api with a new 3.0 release. Android folks can still use the current 2.x releases. Not being able to use the new api objects and having to include/map to joda time is also an impediment.

An alternative would be to refactor into a core and two extension libraries (joda, java8) and use the `ServiceLoader` mechan

[2019-02-10 22:06] taftster commented on #61
OK, can a documentation change be made directly by a committer?  Alternatively, I am happy to offer a pull request, if that is easiest.

[2019-03-21 23:06] damnhandy commented on #61
@taftster  Offer a PR, that is the easiest

[2019-03-21 23:07] #59 closed

[2019-04-17 02:26] damnhandy commented on #55
@leonard84 one of reason for not moving to the Java Time is API is older versions of Android. But, your suggestion of leveraging the `VarExploder` with 1 ServiceLoader` is a good one and something I'll look at when I get around to v3. Thanks for the suggestion.

[2019-06-14 06:58] StefanSchrass commented on #2
Me is also curious for the status on this, as this could come in very damn handy in my situation :)

[2019-10-08 08:28] t-rabetti opened #62 "update Jackson version"
hi @damnhandy , is it possible to upgrade Jackson dependency version to 2.9.10? Some tools are not happy about 2.9.9..

[2020-10-07 12:00] Paradyx opened #65 "Support java.net.URI as variable"
When using a URI as value to a template variable it is treated as a POJO. What most people probably expect, is to use it as a String.

### Example:
[code]

The result of expand is (at least to me) rather unexpected.

[2020-10-29 04:21] talios commented on #2
Just came to need this functionality and remembered there was this issue from (wow) - 9 years ago now.  Whatever happened to this change? It doesn't seem to be there in the current code - beyond the private `getReverseMatchPattern`?

[2020-10-29 05:52] nrktkt commented on #2
🤷 time flies when you're having fun

[2021-12-22 13:22] taa-autorola-com opened #71 "Unable to expand/explode EnumSet and Guava Immutable Collections"
### Problem
Using an EnumSet (or an Immutable Collection from Google Guava) to expand an exploded parameter in a template fails with a reflection exception.

Given the following test case:
[code]

It fails with the following Exception:

[code]

Likewise for guava's Immutable Collections.

It seems to be an invocation of Collection.isEmpty() that fails for some yet unknown reason. I haven't investi

[2022-01-17 21:20] BoDING1007 opened #72 "Maven2 repository show the jackson verision is 2.9.9 which it has vulnerability issue"
**
![image](https://user-images.githubusercontent.com/24220535/149837955-f8a27802-497c-46fc-a2b0-e0a69deab0ce.png)
**

Hello, in our project whitesource scan, it is reporting 2.1.8 version is using jackson verision is 2.9.9 which it has vulnerability issue.  I have checked your pom file, it seems you already update to the jackson verision 2.11.8. Do you know why Maven2 and git is different version

[2022-04-05 10:03] stormtroober opened #73 "Invalid Characters"
Hi, i have on Java a `MalformedUriTemplateException` regarding a `-` in a variable name.
Reading, on the RFC6570 standard i found out that `-` is a valid literal, and so i don't understand this exception.
This is where i read this: [RfcSection21](https://www.rfc-editor.org/rfc/rfc6570#section-2.1).
`-` has ASCII code 2D which is included in the defined range `%x28-3B`

[2022-07-29 12:05] sandeep14-singh opened #74 "Cannot expand a template which contains colon in one of its query param"
Lets say, we have a template = https://someUrl{?someQuery:Param} where the we have a query param which has colon in it = "someQuery:Param"
If i try to expand this via :
[code]
It fails with -
com.damnhandy.uri.template.MalformedUriTemplateException: The prefix value for repo was not a number

	at com.damnhandy.uri.template.Expression.parseRawExpression(Expression.java:329)
	at com.damnhandy.uri.te